
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    background-color:rgb(20, 1, 26) ;
}
#logo {
    max-width: 300px;
    height: auto;
    margin: 0 auto auto auto; 
    display: block;
    padding: 0px;
}

.subtitle{
    text-align: center;
    padding: 0px;
    color:white ;

}

.nombre{
    text-align: center;
    padding: 0px;
}
#champion-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}
.champion {
    border: 0.4px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#d2b4de,#e8daef);
    width: 300px; 
    box-shadow: 0 2px 4px rgb(255, 255, 255); 
    cursor: pointer;
}

img {
    width: 100%; 
    height: auto;  
}

.champion:hover {
    transform: scale(1.05); 
    box-shadow: 0 2px 4px rgb(255, 255, 255); 
    background-color: #eaeaea;
}
details {
    max-height: 500px; 
    transition: max-height 0.3s ease; 
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.tipos{
    text-align: center;
}

summary {
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

details p {
    margin: 0; 
    padding: 5px 0; 
}
