
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    background-color:rgb(20, 1, 26) ;
}
#logo {
    max-width: 300px;
    height: auto;
    margin: 0 auto auto auto; 
    display: block;
    padding: 0px;
}
.nombre{
    text-align: center;
    padding: 0px;
}
#champion-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}
.champion {
    border: 0.4px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#d2b4de,#e8daef);
    width: 300px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */ 
}

.champion:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #eaeaea;
}
details {
    max-height: 500px; /* Altura máxima del blurb */
    transition: max-height 0.3s ease; /* Transición suave para abrir/cerrar */
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.tipos{
    text-align: center;
}

summary {
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

details p {
    margin: 0; /* Quitar el margen del párrafo dentro del details */
    padding: 5px 0; /* Añadir un poco de espaciado */
}
